<!--Inicio Info Deporte-->
<div class="heroDeporte">
  <img src="~/Images/@ViewBag.FotoDeporte" alt="Foto del deporte">
  <h1>@ViewBag.NombreDeporte</h1>
</div>
<!--Fin Info Deporte-->

<!--Inicio Deportistas-->
<div class="Titulos">
  <h1>Deportistas de @ViewBag.NombreDeporte</h1>
</div>
  <div class="Deportistas">
    @foreach(Deportista miDepor in ViewBag.DeportistasPorDeporte) {
        <div class="card" style="width: 18rem;">
          <img src="@miDepor.Foto" class="card-img-top" alt="Foto de @miDepor.Nombre">
          <div class="card-body">
            <h4 class="card-title">@miDepor.Nombre @miDepor.Apellido</h4>
            <a href='@Url.Action("VerDetalleDeportista", new{IdDeportista = @miDepor.IdDeportista})' class="btn btn-dark">Ver más</a>
          </div>
        </div>
    }
  </div>

<!--Fin Deportistas-->
