<!--Inicio Info Pais-->
<div class="heroPais">
  <img src="~/Images/@ViewBag.FotoPais" alt="Foto del país">
  <h1>@ViewBag.NombrePais</h1>
  <h3>Fundado en @ViewBag.FechaPais.Year/@ViewBag.FechaPais.Month/@ViewBag.FechaPais.Day</h3>
</div>
<!--Fin Info Pais-->

<!--Inicio Deportistas-->
<div class="Titulos">
  <h1>Deportistas de @ViewBag.NombrePais</h1>
</div>
<div class="container">
  <div class="row">
    @foreach(Deportista miDepor in ViewBag.DeportistasPorPais) {
      <div class="col-md-4 mb-4">
        <div class="card">
          <img src="@miDepor.Foto" class="card-img-top" alt="Foto de @miDepor.Nombre">
          <div class="card-body">
            <h4 class="card-title">@miDepor.Nombre @miDepor.Apellido</h4>
            <a href='@Url.Action("VerDetalleDeportista", new{IdDeportista = @miDepor.IdDeportista})' class="btn btn-dark">Ver más</a>
          </div>
        </div>
      </div>
    }
  </div>
</div>
<!--Fin Deportistas-->
